#wmp-popup {
  position: absolute;
  background: #fff;
  border: 1px solid #ccc;
  padding: 10px;
  max-width: 300px;
  z-index: 9999;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: none;
  font-size: 14px;
  line-height: 1.5;
}
